#box {
    background: transparent;
    border: none;
    font-size: 40px;
    color: white;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    width: 90%;
}

.visible {
    color: white;
}


.links {
    position: absolute;

    left: 50%;
    top: calc(50% + 150px);

    transform: translate(-50%, 0%);

}

.links a {
    font-size: 40px;
    color: blue;

    text-decoration: none;
}